<ion-content [fullscreen]="true">
    <ion-list>
        <ng-container *ngFor="let livro of this.livros">
            <ion-item>
                <ion-label>        
                    Titulo: <h1>{{livro.titulo}}</h1>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>        
                    Sinopse: <h1>{{livro.sinopse}}</h1>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>        
                    Número de Páginas: <h1>{{livro.paginas}}</h1>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Categorias:</ion-label><ng-container *ngFor='let categoria of livro.categoria'>
                        <h3 *ngIf="categoria.nome == 'Científico'" style="color: green;">{{categoria.nome}}</h3>
                        <h3 *ngIf="categoria.nome == 'Ficção Científica'" style="color: green;">{{categoria.nome}}</h3>
                        <h3 *ngIf="categoria.nome == 'Auto-ajuda'" style="color: red;">{{categoria.nome}}</h3>
                        <h3 *ngIf="categoria.nome == 'Romance'" style="color: pink;">{{categoria.nome}}</h3>
                    </ng-container>
            </ion-item>

        </ng-container>
    </ion-list>
</ion-content>